//scss全局变量
//左侧菜单宽度
$base-menu-width:260px;
//左侧菜单背景色
$base-menu-background:black;
//logo高度
$base-menu-logo-height:50px;
//logo文字
$base-main-logo-fontSize:20px;
//logo padding
$base-main-logo-padding:10px;
//顶部导航高度
$base-tabbar-height:50px;

//顶部导航背景色
$base-tabbar-background:cyan;

//内容区内边距
$base-main-padding:20px;
